@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 291 66% 98%;
    --foreground: 291 73% 0%;
    --muted: 51 9% 85%;
    --muted-foreground: 51 12% 31%;
    --popover: 291 66% 98%;
    --popover-foreground: 291 73% 0%;
    --card: 291 66% 98%;
    --card-foreground: 291 73% 0%;
    --border: 291 5% 89%;
    --input: 291 5% 89%;
    --primary: 291 41% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 51 41% 44%;
    --secondary-foreground: 51 41% 4%;
    --accent: 171 41% 44%;
    --accent-foreground: 171 41% 4%;
    --destructive: 6 92% 39%;
    --destructive-foreground: 6 92% 99%;
    --ring: 291 41% 44%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 2.86% 6.86%;
    --foreground: 240 11.11% 96.47%;
    --muted: 51 9% 15%;
    --muted-foreground: 51 12% 69%;
    --popover: 291 60% 3%;
    --popover-foreground: 291 24% 100%;
    --card: 291 60% 3%;
    --card-foreground: 291 24% 100%;
    --border: 291 5% 14%;
    --input: 291 5% 14%;
    --primary: 264.97 100% 66.08%;
    --primary-foreground: 0 0% 100%;
    --secondary: 147.67 78.26% 54.9%;
    --secondary-foreground: 51 41% 4%;
    --accent: 171 41% 44%;
    --accent-foreground: 171 41% 4%;
    --destructive: 6 92% 58%;
    --destructive-foreground: 0 0% 100%;
    --ring: 291 41% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
