.grid-overlay {
  background-image: linear-gradient(to right, rgba(255, 255, 255) 0.75px, transparent 0.75px),
    linear-gradient(to bottom, rgba(255, 255, 255) 0.75px, transparent 0.75px);
  background-size: calc(100% / 4.2) calc(100% / 5.5);
}

@media (min-width: 768px) {
  .grid-overlay {
    background-size: calc(100% / 16) calc(100% / 8);
  }
}

.powered-grid-overlay {
  display: hidden;
}

@media (min-width: 1280px) {
  .powered-grid-overlay {
    display: block;
    background-image: linear-gradient(to right, rgba(255, 255, 255) 0.75px, transparent 0.75px),
      linear-gradient(to bottom, rgba(255, 255, 255) 0.75px, transparent 0.75px);
    background-size: calc(100% / 16) calc(100% / 8);
  }
}

.governance-grid-overlay {
  background-image: linear-gradient(to right, rgba(255, 255, 255) 0.75px, transparent 0.75px),
    linear-gradient(to bottom, rgba(255, 255, 255) 0.75px, transparent 0.75px);
  background-size: calc(100% / 4.2) calc(100% / 10);
}

@media (min-width: 768px) {
  .governance-grid-overlay {
    background-size: calc(100% / 16) calc(100% / 8);
  }
}
